html {
	scroll-behavior: smooth;
	// overflow-x: hidden;
}

body {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color-black);
	background-color: var(--bg-color-page);
	border-radius: 20px;
}

svg {
	display: flex;
	align-items: center;
	justify-content: center;
}
 
.title {
	font-weight: 700;
	font-size: 32px;
	color: var(--text-color-black);
}

.wrapper {
	background-color: var(--bg-color-white);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	max-width: 1080px;
	width: 100%;
	margin: 85px auto;
	border-radius: 20px;
	
}