@forward './styles/vars'; // Переменные
@forward './styles/mixins'; // Миксины
@forward './styles/utils'; // Утилиты
@forward './styles/reset'; // Стили сброса
@forward './styles/base'; // Основные стили
@forward './styles/containers'; // Стили контейнеров


.products {
    
    // .products__title

    &__title {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 30px;
    }

    &__items {
        display: flex;
        gap: 40px;
    }
}

.card-product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 1px solid #eaeaea;
    border-radius: 40px;
    max-width: 210px;
    padding: 20px 29px 29px;

    // .card-product__bookmark-icon

    &__bookmark-icon {
        position: absolute;
        top: 30px;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        width: 32px;
        height: 32px;
    }

    // .card-product__img

    &__img {}

    // .card-product__name

    &__name {}

    // .card-product__info

    &__info {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        row-gap: 2px;
    }

    // .card-product__price-label

    &__price-label {
        font-weight: 500;
        font-size: 11px;
        text-transform: uppercase;
        color: #bdbdbd;
    }

    // .card-product__price-value

    &__price-value {
        font-weight: 700;
    }

    // .card-product__btn

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        grid-row: 1/3;
        grid-column: 2;
    }
}